@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  :host {
    /* IE10+ */
    color: #151515 !important;
  }
}

:host {
  display: block;
  display: var(--pfe-tabs--Display, block);
  padding: 0;
  padding: var(--pfe-tabs--Padding, 0);
}

:host .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: var(--pfe-tabs__tabs--FlexDirection, row);
  width: auto;
  width: var(--pfe-tabs__tabs--Width, auto);
  border-top: 0;
  border-top: var(--pfe-tabs__tabs--BorderTop, 0);
  border-right: 0;
  border-right: var(--pfe-tabs__tabs--BorderRight, 0);
  border-bottom: 1px solid #d2d2d2;
  border-bottom: var(--pfe-tabs__tabs--BorderBottom, var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-tabs__tabs--BorderColor, var(--pfe-theme--color--surface--border, #d2d2d2)));
  border-left: 0;
  border-left: var(--pfe-tabs__tabs--BorderLeft, 0);
  padding: 0;
  padding: var(--pfe-tabs__tabs--Padding, 0);
}

:host .panels {
  width: auto;
  width: var(--pfe-tabs__panels--Width, auto);
}

:host(:not([vertical])[pfe-tab-align="center"]) .tabs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  :host([vertical]) {
    --pfe-tabs--Display: flex;
    --pfe-tabs__tabs--FlexDirection: column;
    --pfe-tabs__tabs--Width: 20%;
    --pfe-tabs__tabs--BorderRight: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-tabs--BorderColor);
    --pfe-tabs__tabs--BorderBottom: 0;
    --pfe-tabs__panels--Width: 80%;
    --pfe-tabs__panels--PaddingRight: var(--pfe-theme--container-padding, 16px);
  }
}

@media screen and (min-width: 768px) and (-ms-high-contrast: active), screen and (min-width: 768px) and (-ms-high-contrast: none) {
  :host([vertical]) {
    /* IE10+ */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  :host([vertical]) .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 22.22%;
    border-right: 1px solid #d2d2d2;
    border-right: 1px solid var(--pfe-theme--color--surface--border, #d2d2d2);
    border-bottom: 0;
  }
  :host([vertical]) .panels {
    width: 77.8%;
    padding-right: 1em;
  }
}

@media screen and (min-width: 768px) {
  :host([vertical][pfe-variant="earth"]) {
    --pfe-tabs__tabs--Padding: var(--pfe-theme--container-padding, 16px) 0 0 0;
  }
}

@media screen and (min-width: 768px) and (-ms-high-contrast: active), screen and (min-width: 768px) and (-ms-high-contrast: none) {
  :host([vertical][pfe-variant="earth"]) {
    /* IE10+ */
  }
  :host([vertical][pfe-variant="earth"]) .tabs {
    padding: 1em 0 0 0;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  :host(:not([pfe-variant="earth"])) {
    /* IE10+ */
    background-color: #fff;
    background-color: var(--pfe-theme--color--surface--lightest, #fff);
    color: #151515;
    color: var(--pfe-theme--color--text, #151515);
  }
}

:host([pfe-variant="earth"]) {
  --pfe-tabs__tabs--PaddingLeft: var(--pfe-theme--container-padding, 16px);
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* IE10+ */
  :host([pfe-variant="earth"]) .tabs {
    padding-left: 1em;
  }
}

:host([on="dark"]) {
  --pfe-broadcasted--text: var(--pfe-theme--color--text--on-dark, #fff);
  --pfe-broadcasted--link: var(--pfe-theme--color--link--on-dark, #73bcf7);
  --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover--on-dark, #bee1f4);
  --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus--on-dark, #bee1f4);
  --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited--on-dark, #bee1f4);
  --pfe-broadcasted--link-decoration: var(--pfe-theme--link-decoration--on-dark, none);
  --pfe-broadcasted--link-decoration--hover: var(--pfe-theme--link-decoration--hover--on-dark, underline);
  --pfe-broadcasted--link-decoration--focus: var(--pfe-theme--link-decoration--focus--on-dark, underline);
  --pfe-broadcasted--link-decoration--visited: var(--pfe-theme--link-decoration--visited--on-dark, none);
}

:host([on="saturated"]) {
  --pfe-broadcasted--text: var(--pfe-theme--color--text--on-saturated, #fff);
  --pfe-broadcasted--link: var(--pfe-theme--color--link--on-saturated, #fff);
  --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover--on-saturated, #fafafa);
  --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus--on-saturated, #fafafa);
  --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited--on-saturated, #8476d1);
  --pfe-broadcasted--link-decoration: var(--pfe-theme--link-decoration--on-saturated, underline);
  --pfe-broadcasted--link-decoration--hover: var(--pfe-theme--link-decoration--hover--on-saturated, underline);
  --pfe-broadcasted--link-decoration--focus: var(--pfe-theme--link-decoration--focus--on-saturated, underline);
  --pfe-broadcasted--link-decoration--visited: var(--pfe-theme--link-decoration--visited--on-saturated, underline);
}

:host([on="light"]) {
  --pfe-broadcasted--text: var(--pfe-theme--color--text, #151515);
  --pfe-broadcasted--link: var(--pfe-theme--color--link, #06c);
  --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover, #004080);
  --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus, #004080);
  --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited, #6753ac);
  --pfe-broadcasted--link-decoration: var(--pfe-theme--link-decoration, none);
  --pfe-broadcasted--link-decoration--hover: var(--pfe-theme--link-decoration--hover, underline);
  --pfe-broadcasted--link-decoration--focus: var(--pfe-theme--link-decoration--focus, underline);
  --pfe-broadcasted--link-decoration--visited: var(--pfe-theme--link-decoration--visited, none);
}

@media screen and (min-width: 768px) {
  :host([vertical][pfe-variant="wind"]) .tabs-prefix,
  :host([vertical][pfe-variant="wind"]) .tabs-suffix {
    left: 0px;
    top: 0px;
    content: " ";
    height: 32px;
    width: 1px;
    background-color: #d2d2d2;
    background-color: var(--pfe-tabs__tabs--BorderColor, var(--pfe-theme--color--surface--border, #d2d2d2));
    position: relative;
  }
  :host(:not([vertical])[pfe-variant="earth"]) .tabs-prefix {
    left: 0px;
    top: 0px;
    content: " ";
    height: 1px;
    width: calc(16px * 2);
    width: calc(var(--pfe-theme--container-padding, 16px) * 2);
    position: relative;
  }
}

/*# sourceMappingURL=pfe-tabs.css.map */
